---
const { frontmatter } = Astro.props;
import Tags from '../components/Tags.astro';
import BaseLayout from './BaseLayout.astro';
---
<BaseLayout pageTitle={frontmatter.title}>
<p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
<p>Written by {frontmatter.author}</p>
<Tags tags={frontmatter.tags} />
<img src={frontmatter.image.url} alt={frontmatter.image.alt}/>
<slot />
</BaseLayout>

<style>
  img {
    margin-top: 20px;
    max-width: 100%;
  }
</style>
